---
---
<div class="container">
  <div class="row justify-content-center mt-2">
    <h4>This are some of the projects that I have done.</h4>
  </div>
  <div class="row justify-content-center mt-1">
    <div class="col-sm-4 col-md-5 col-lg-7">
      <div class="card">
        <img src="{{ heroImage }}" alt="Proojects" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">National Huawei Ict competition 2019/2020</h5>
          <p class="card-text"> I won the Huawei ICT competition, emerging winner over the 6,000 competitors.</p>
          <p class="card-text">I am happy to be representing my country in the Regional Finals. Kenya will be competing
            against other 12 African Countries</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-5 col-lg-7 mt-4">
      <div class="card">
        <img src="{{ dMatt }}" alt="Image of Screenshots of Matt Fare." class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Matt Fare App for Digital Matatu.</h5>
          <p class="card-text">I developed an android application, to enable Matatu users in Nairobi plan their trips by
            getting directions and fares charged on various routes</p>
          <p>This was during a hackathon organized <a href="http://www.digitalmatatus.com/" target="_blank">Digital
              Matatu.</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-5 col-lg-7 mt-5">
      <div class="card">
        <img src="{{ healthApp }}" alt="Image of Screenshots of Matt Fare." class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Health App for Digital Matatu.</h5>
          <p class="card-text">I also developed a Health Report for digital Matatu during a hackathon.</p>
          <p class="card-text">The app enables user to view data on the spread of Covid-19. It displays charts on both
            global and local</p>
          <p class="card-text">The app also enables a person to report those breaking the rules put in place to contain
            Covid-19.</p>
          <p class="card-text">The app also contains a picture memory game, that provide gamification of Covid-19
            measures.</p>
        </div>
      </div>
    </div>

  </div>
</div>

