---
---

<div class="row justify-content-center my-5">
  <div class="col-sm-5 col-lg-7">
    <div class="card">
      <img src="{{ awarding }}" alt="Image of me during the Awards." class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">I won the Huawei ICT Competition 2019/2020</h5>
        <p class="card-text"><a href="https://www.huawei.com/ke/news/ke/2019/ict-competition">Huawei ICT Competition</a>
          is a global competition hosted by Huawei. University and college students are eligible, to compete. </p>
        <p class="card-text">I am happy to be representing my country in the Regional Finals.</p>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center my-5">
  <div class="col-sm-5 col-lg-7">
    <div class="card">
      <img src="{{ mattApp }}" alt="Screenshot image of the Matt App." class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">I developed a trip planning app for <a href="http://www.digitalmatatus.com/">Digital
            Matatu</a>, to help matatu commuters in Nairobi.
        </h5>
        <p class="card-text">The app enables commuters to check fairs charged on various roads.
          Commuters can compare fares on from different saccos operation on same route.</p>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center my-5">
  <div class="col-sm-5 col-lg-7">
    <div class="card">
      <img class="card-img-top" src="{{ healthReportApp }}"
           alt="Screenshot of some of screens from the Health Report App.">
      <div class="card-body">
        <h5 class="card-title">
          During Digital Matatu Hackathon, I developed an Health Report App.
        </h5>
        <p class="card-text">The app enables one to track Covid19 both locally and globally.</p>
        <p class="card-text">It also has picture memory game that uses images informing on Covid19.</p>
        <p class="card-text">Commuters can also report matatu users that are breaking rules and regulations put in place
          to curb Covid19.</p>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center my-5">
  <div class="col-sm-5 col-lg-7">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          More projects to be uploaded soon...
        </h5>
        <p class="card-text">
          You can visit my <a href="https://github.com/MalukiMuthusi">Github page</a> to see check some exciting
          projects I am currently working on
        </p>
      </div>
    </div>
  </div>
</div>
