---
layout: layouts/about.njk
eleventyNavigation:
  key: About
  order: 1
---

<div class="row">

  <div class="col-md-8">
    <h3 class="pb-4 mb-4 font-italic border-bottom">
      Hi, I'm Maluki.
    </h3>
    <p>I'm a software Developer, from Kenya and a computer science undergraduate at the <a href="www.uonbi.ac.ke">University
        of Nairobi.</a></p>
    <p>I love coding and developing things. I work on various technologies including Developing Android applications and
      web development.
    </p>
    <p>I am passionate about mobile solutions. Developing mobile Applications that satisfy customer needs.
      I have mastered and used various programming languages in production. My favourite programming language is
      Kotlin.</p>
    <p>I have been focusing in growing my career in software development through contribution to open-source projects
      and various personal projects and developing software's for friends and colleagues.</p>
    <p>I look forward to developing better softwares each day.</p>
    <hr/>

    <h4>Purpose of this blog</h4>
    <p>In this site I share my experience as software developers. I hope the articles bring insights to others and help
      those getting started find it easy.</p>
    <p>I love assisting others, in the tech community excel and grow. It is through sites like this that I have
      learned from other experienced developers.</p>
    <p></p>
    <hr/>
    <h4>Hire Me</h4>
    <p>I am available to turn your ideas into software. Whether you need a simple web applications for your business or
      a complicated application, you can contact me.</p>
  </div>

  <aside class="col-md-4">
    <div class="p-4 mb-3 bg-light rounded">
      <img class="container" src="img/profile-blog.jpg" alt="Image of me.">
    </div>
  </aside>
</div>



